*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: "Acme", sans-serif;
}

h3 {
  text-align: center;
}

p {
  padding-top: 15px;
  padding-left: 10px;
  text-align: start;
}

@media only screen and (min-width: 600px) {
  .background {
    background-color: gray;
    width: 100%;
  }
  .btn-loanpaypay {
    width: 60%;
    max-inline-size: 100%;
    text-align: center;
    height: 40px;
    margin: auto;
    border-style: none;
    border-radius: 5px;
    position: relative;
    top: 35px;
    color: #ffffff;
    background-color: #ca3f04;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  .smalltext {
    font-size: 0.9em;
    margin-top: -5px;
    text-align: center;
  }
  .containerheader {
    height: 50px;
    text-align: center;
  }
  .containerheader h1 {
    padding-top: 5px;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-right: 10rem;
    padding-left: 10rem;
    padding-top: 5rem;
  }
  .container-md {
    background-color: rgb(251, 251, 251);
    width: 17em;
    height: 13em;
    margin-top: 3em;
    border-radius: 10px;
    justify-self: center;
    text-align: center;
    border: 1px rgb(234, 234, 234) solid;
    padding-top: 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  .computerinfo {
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
  }
  .container-info {
    background-color: rgb(251, 251, 251);
    width: 50em;
    height: 13rem;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 2em;
    border-radius: 10px;
    justify-self: center;
    text-align: center;
    border: 1px rgb(234, 234, 234) solid;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  .computer-pic {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .computer-pic img {
    max-width: 62%;
  }
  .btn-studying {
    width: 90%;
    max-inline-size: 75px;
    height: 40px;
    border-style: none;
    padding-bottom: -200px;
    border-radius: 5px;
    position: relative;
    top: 5px;
    color: #ffffff;
    background-color: #05fa59;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  .btn-training {
    width: 90%;
    max-inline-size: 75px;
    height: 40px;
    border-style: none;
    padding-bottom: -200px;
    border-radius: 5px;
    position: relative;
    top: 5px;
    color: #ffffff;
    background-color: #0d08f7;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  .backgroundH {
    background-color: rgb(251, 251, 251);
    width: 70em;
    height: 5em;
    margin-top: 2em;
    margin-left: 20em;
    border-radius: 10px;
    border: 1px rgb(234, 234, 234) solid;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  .containerStats {
    display: grid;
    margin: auto;
    margin-top: 30px;
    grid-template-columns: repeat(3, 1fr);
  }
  .btnSleep {
    width: 90%;
    max-inline-size: 75px;
    height: 40px;
    border-style: none;
    padding-bottom: -200px;
    border-radius: 5px;
    position: relative;
    color: #ffffff;
    background-color: #07554a;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  .btnEat {
    width: 90%;
    max-inline-size: 75px;
    height: 40px;
    border-style: none;
    padding-bottom: -200px;
    border-radius: 5px;
    position: relative;
    color: #ffffff;
    background-color: #ffef15;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  #statusText {
    text-align: center;
    margin-top: -32px;
    margin-left: -45em;
    box-sizing: border-box;
  }
}
@media only screen and (max-width: 999px) {
  .background {
    background-color: gray;
    width: 100%;
  }
  .btn-loanpaypay {
    width: 90%;
    max-inline-size: 100%;
    text-align: center;
    height: 40px;
    margin: auto;
    border-style: none;
    border-radius: 5px;
    position: relative;
    top: 35px;
    color: #ffffff;
    background-color: #ca3f04;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  .smalltext {
    font-size: 0.7em;
    margin-top: -5px;
  }
  .containerheader {
    height: 40px;
  }
  .containerheader h1 {
    padding-top: 1px;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 7rem;
    gap: 1em;
  }
  .container-md {
    background-color: rgb(251, 251, 251);
    width: 11em;
    margin-left: -8px;
    height: 13em;
    margin-top: 2em;
    border-radius: 10px;
    justify-self: center;
    text-align: center;
    border: 1px rgb(234, 234, 234) solid;
    padding-top: 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  .computerinfo {
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    height: 10em;
    margin: 0 auto;
    margin-top: 20px;
  }
  .container-info {
    background-color: rgb(251, 251, 251);
    width: 45em;
    height: 13em;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 2em;
    border-radius: 10px;
    justify-self: center;
    text-align: center;
    border: 1px rgb(234, 234, 234) solid;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  .computer-pic {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .computer-pic img {
    max-width: 60%;
  }
  .btn-studying {
    width: 90%;
    max-inline-size: 75px;
    height: 40px;
    border-style: none;
    padding-bottom: -200px;
    border-radius: 5px;
    position: relative;
    top: 10px;
    color: #ffffff;
    background-color: #05fa59;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  .btn-training {
    width: 90%;
    max-inline-size: 75px;
    height: 40px;
    border-style: none;
    padding-bottom: -200px;
    border-radius: 5px;
    position: relative;
    top: 10px;
    color: #ffffff;
    background-color: #0d08f7;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  .backgroundH {
    background-color: rgb(251, 251, 251);
    width: 42em;
    height: 5em;
    margin-top: 2em;
    margin-left: 5em;
    border-radius: 10px;
    border: 1px rgb(234, 234, 234) solid;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  .containerStats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .btnSleep {
    width: 90%;
    max-inline-size: 75px;
    height: 40px;
    border-style: none;
    padding-bottom: -200px;
    border-radius: 5px;
    position: relative;
    color: #ffffff;
    background-color: #07554a;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  .btnEat {
    width: 90%;
    max-inline-size: 75px;
    height: 40px;
    border-style: none;
    padding-bottom: -200px;
    border-radius: 5px;
    position: relative;
    color: #ffffff;
    background-color: #ffef15;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  #statusText {
    text-align: center;
    margin-top: -30px;
    margin-left: -25em;
    box-sizing: border-box;
  }
}
@media only screen and (max-width: 700px) {
  .background {
    background-color: gray;
    width: 100%;
  }
  .btn-loanpaypay {
    width: 90%;
    max-inline-size: 100%;
    text-align: center;
    height: 40px;
    margin: auto;
    border-style: none;
    border-radius: 5px;
    position: relative;
    top: 35px;
    color: #ffffff;
    background-color: #ca3f04;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  .smalltext {
    font-size: 0.7em;
    margin-top: -5px;
  }
  .containerheader {
    height: 40px;
    text-align: center;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 13rem;
    gap: 1em;
  }
  .container-md {
    background-color: rgb(251, 251, 251);
    width: 11em;
    margin-left: -8px;
    height: 13em;
    margin-top: 1em;
    border-radius: 10px;
    justify-self: center;
    text-align: center;
    border: 1px rgb(234, 234, 234) solid;
    padding-top: 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  .computerinfo {
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
  }
  .container-info {
    background-color: rgb(251, 251, 251);
    width: 19em;
    height: 29em;
    margin-top: 2em;
    border-radius: 10px;
    justify-self: center;
    text-align: center;
    border: 1px rgb(234, 234, 234) solid;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  .computer-pic {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .computer-pic img {
    max-width: 55%;
  }
  .btn-studying {
    width: 90%;
    max-inline-size: 75px;
    height: 40px;
    border-style: none;
    padding-bottom: -200px;
    border-radius: 5px;
    position: relative;
    top: 10px;
    color: #ffffff;
    background-color: #05fa59;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  .btn-training {
    width: 90%;
    max-inline-size: 75px;
    height: 40px;
    border-style: none;
    padding-bottom: -200px;
    border-radius: 5px;
    position: relative;
    top: 10px;
    color: #ffffff;
    background-color: #0d08f7;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  .backgroundH {
    background-color: rgb(251, 251, 251);
    width: 20em;
    height: 10em;
    margin-top: 2em;
    margin-left: 2em;
    border-radius: 10px;
    border: 1px rgb(234, 234, 234) solid;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  .containerStats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .btnSleep {
    width: 90%;
    margin-top: 20px;
    max-inline-size: 75px;
    height: 40px;
    border-style: none;
    padding-bottom: -200px;
    border-radius: 5px;
    position: relative;
    color: #ffffff;
    background-color: #07554a;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  .btnEat {
    width: 90%;
    margin-top: 20px;
    max-inline-size: 75px;
    height: 40px;
    border-style: none;
    padding-bottom: -200px;
    border-radius: 5px;
    position: relative;
    color: #ffffff;
    background-color: #ffef15;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  #statusText {
    text-align: center;
    margin-top: 5px;
    margin-left: -190px;
    box-sizing: border-box;
  }
}
.btn-loanpay {
  width: 35%;
  max-inline-size: 100%;
  text-align: center;
  height: 40px;
  border-style: none;
  padding-bottom: -200px;
  border-radius: 5px;
  position: relative;
  top: 80px;
  color: #ffffff;
  background-color: #ca3f04;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.btn-loanactive {
  width: 35%;
  max-inline-size: 100%;
  text-align: center;
  height: 40px;
  border-style: none;
  padding-bottom: -200px;
  border-radius: 5px;
  position: relative;
  top: 80px;
  color: #ffffff;
  background-color: #b10c27;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.btn-loan {
  width: 50%;
  max-inline-size: 100%;
  text-align: center;
  height: 40px;
  border-style: none;
  padding-bottom: -200px;
  border-radius: 5px;
  position: relative;
  top: 80px;
  color: #ffffff;
  background-color: #b10c27;
  margin-right: 35px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.btn-bank {
  width: 90%;
  max-inline-size: 75px;
  height: 40px;
  border-style: none;
  margin-left: -46px;
  border-radius: 5px;
  position: relative;
  top: 80px;
  color: #ffffff;
  background-color: #060133;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.btn-bankactive {
  width: 90%;
  max-inline-size: 75px;
  height: 40px;
  border-style: none;
  margin-left: -158px;
  border-radius: 5px;
  position: relative;
  top: 80px;
  color: #ffffff;
  background-color: #060133;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.btn-work {
  width: 90%;
  max-inline-size: 75px;
  height: 40px;
  border-style: none;
  border-radius: 5px;
  position: relative;
  top: 80px;
  color: #ffffff;
  background-color: #33012a;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.btn-buy {
  width: 90%;
  max-inline-size: 165px;
  height: 40px;
  border-style: none;
  padding-bottom: -200px;
  border-radius: 5px;
  position: relative;
  top: 10px;
  color: #ffffff;
  background-color: #ae007d;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.laptop-selector {
  margin-top: 15px;
}

.chaning-info {
  display: flex;
  justify-content: space-evenly;
}

.disabled {
  width: 90%;
  max-inline-size: 75px;
  height: 40px;
  border-style: none;
  padding-bottom: -200px;
  border-radius: 5px;
  position: relative;
  top: 80px;
  color: rgb(43, 43, 43);
}

.invisible {
  visibility: hidden;
}

.loanid {
  color: black;
  text-align: center;
  font-size: 12px;
  margin-top: -20px;
}

.loanamount {
  color: black;
  text-align: center;
  font-size: 12px;
  margin-top: -10px;
}

#specs {
  font-size: 1rem;
}

#StydingLvl,
#trainingLvl {
  position: relative;
  overflow-wrap: break-word;
  margin-top: -18px;
  text-align: center;
  margin-right: 5px;
}

.box {
  text-align: center;
}

.green {
  color: #05fa59;
}

.blue {
  color: #0d08f7;
}

.nok {
  margin-top: -23px;
  margin-right: -100px;
}

#daysSleep {
  margin-top: -15px;
  margin-right: 40px;
  text-align: center;
}

#eatCounter {
  padding-left: 20px;
  margin-top: -20px;
}

#btnText {
  margin-left: 20px;
  margin-top: -32px;
}/*# sourceMappingURL=Style.css.map */